{% extends 'base.html.twig' %}

{% block title %}Contactez nous!{% endblock %}

{% block body %}
    <main class="container m-auto">
        <div class="m-5 p-5">
            {{ form(contact_form) }}
        </div>
    </main>
{% endblock %}
